{% extends "base.html" %}

{% block bodystart %}
<body>
{% endblock %}
{% block bodyend %}
    <div class="container">

     <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to My Paths!</h1>
        <p>My Paths allows you to record your paths.  Whether it's a walk, run, ski or cycle the MyPaths Android app will record where you go and let you take photos, videos and record annotations.  You can then view (and share if you want) your paths online.</p>
        <p> The site is still in development, <a href="mailto:mconaghan@gmail.com">contact mconaghan@gmail.com</a> if you would like to know when the site is ready for beta testers </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Ben Oss & Lui</h2>
          <p>4 munros near Tyndrum, climbed in March 2012, taking around 8 hours, or 20km of walking.</p>
          <br>
          <p><a class="btn" href="/path/14/">View Path »</a></p>
        </div>
        <div class="span4">
          <h2>Ben Challum</h2>
          <p>Isolated and hidden munro halfway between Crianlarich and Tyndrum, with the peak at 1025m. Great views of Tyndrum and Crianlarich munros. </p>
          <p><a class="btn" href="/path/15/">View Path »</a></p>
       </div>
       <div class="span4">
          <h2>River Kelvin & Canal</h2>
          <p>Nice little 4 and a half mile run (or walk) following the River Kelvin and then the Forth and Clyde canal.</p>
          <br>
          <p><a class="btn" href="/path/4/">View Path »</a></p>
        </div>
      </div>

      <hr>
 <footer>
        <a href="http://www.martinconaghan.co.uk">© Martin Conagan 2012</a>
      </footer>
 </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://martinconaghan.dyndns.org/media/jquery.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-transition.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-alert.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-modal.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-dropdown.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-scrollspy.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-tab.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-tooltip.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-popover.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-button.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-collapse.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-carousel.js"></script>
    <script src="http://martinconaghan.dyndns.org/media/bootstrap-typeahead.js"></script>

<div style="display:none" id="addthis-extension-script"></div></body>
{% endblock %}
